{% extends 'master' %}

{% block content %}
<h1>Tranzakció módosítása</h1>

{% if old('errors') %}
<div class="alert alert-danger" role="alert">
    <ul>
    {% for error in old('errors') %}
    <li>{{ error.message }}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}

<form class="form-horizontal" action="/balance/{{ balance.id }}/edit" method="POST">
  {{ csrfField }}
  <div class="form-group">
    <label for="inputName" class="col-sm-2 control-label">Összeg</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputName" name="amount" value="{{ balance.amount }}">
    </div>
  </div>
  <div class="form-group">
    <label for="inputCategory" class="col-sm-2 control-label">Kategória</label>
    <div class="col-sm-10">
      <select class="form-control" id="inputCategory" name="category">
        {% for category in categories %}
        {% if category.id == balance.category_id %}
        <option selected value="{{ category.id }}">{{ category.name }}</option>
        {% else %}
        <option value="{{ category.id }}">{{ category.name }}</option>
        {% endif %}
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="inputComment" class="col-sm-2 control-label">Közlemény</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="inputComment" name="comment">{{ balance.comment }}</textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success">Tranzakció mentése</button>
      <a class="btn btn-default" href="/balance/{{ balance.id }}" role="button">Vissza</a>
    </div>
  </div>
</form>

{% endblock %}