
{% extends 'master' %}

{% block content %}
Köszöntelek az oldalon.<br>
Eme webes alkalmazással rendszerezheted, figyelemmel követheted illetve managelheted a lakóközösséged pézügyeit.<br>
A következő <a href="/register">linken</a> tudsz is regisztrálni
{% endblock %}